button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}

    // FLEX SETTINGS

    .flex {
        display: flex;
    }
    .flex-column {
        flex-direction: column;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }
    .flex-vertical {
        align-items: center;
    }

       // TYPOGRAPHY SETTINGS

    .spanBold {
        font-weight: 700;
    }

    .span-italic {
        font-style: italic;
    }

    body {
        font-family: 'Lato', sans-serif;    
    }
    

    h1, h2, h3, h4, h5, h6 {margin: 0;}
    p {
        font-size: 20px;
    }    
    h1 {
        font-size: 45px;
        margin: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
    }

    h6 {
        font-size: 18px;
    }

    .header-h2 {
        line-height: 1.5;
        padding-bottom: 25px;
    }
    .header-title h1 {
        font-size: 58px;
    }
    .header-year h1 {
        font-size: 150px;
        font-weight: 900;
    }

       // WRAPPER
    .wrapper-outer {
        max-width: 1600px;
        margin: 0 auto;
    }

    .wrapper-inner {
        max-width: 1175px;
        margin: 0 auto;
    }

    // BASIC STYLE RESETS AND HELPERS

    .absolute {position: absolute;}
    .relative {position: relative;}

    a {
        text-decoration: none;
    }
    .height100 {
        height: 100%;
    }
    .margin-top-10 {
        margin-top: 10px;
    }
    .margin-top-60 {
        margin-top: 60px;
    }
    .margin-top-30 {
        margin-top: 30px;
    }

    .padding-right-20 {
        padding-right: 20px;
    }


/*COLOUR SETTINGS FOR BRANDING*/

.background-1 {
    background: #e9f9ff;
}
.background-2 {
    background: #f3fbd0;
}
.background-4 {
    background: #e9f9ff;
}
.background-5 {
    background: #e8faff;
}
.color-primary-dark {
    color: rgb(0, 84, 128);
  }
  .background-primary-dark {
    background: rgb(0, 84, 128);
  }
  .color-primary-light {
    color: rgb(0, 164, 228);
  }
  .background-primary-light {
    background: rgb(0, 164, 228);
  }
  .color-navy {
    color: rgb(15,55,95);
  }
  .background-navy {
    background: rgb(15,55,95);
  }
  .color-teal {
    color: rgb(0,100,130);
  }
  .background-teal {
    background-color: rgb(0,100,130);
  }
  .color-green {
    color: rgb(188,219,49);
  }
  .background-green {
    background: rgb(188,219,49);
  }
  .color-darkGreen {
    color: rgb(140, 165, 45);
  }
  .background-darkGreen {
    background: rgb(140,165, 45);
  }
  .color-yellow {
    color: rgb(246, 190, 10);
  }
  .background-yellow {
    background: rgb(246, 190, 10);
  }
  .color-purple {
    color: rgb(95,15,140);
  }
  .background-purple {
    background: rgb(95,15,140);
  }
  .color-lightblue {
    color: rgb(0,165,230);
  }
  .background-lightblue {
    background: rgb(0,165,230);
  }
  .color-pink {
    color: rgb(215,0,90);
  }
  .background-pink {
    background: rgb(215,0,90);
  }
  .color-orange {
    color: rgb(230,60,55);
  }
  .background-orange {
    background: rgb(230,60,55);
  }
  .color-white {
    color: rgb(255,255,255);
  }
  .background-white {
    background: rgb(255,255,255);
  }
  .color-black {
    color: rgb(0,0,0);
  }
  .background-black {
    background: rgb(0,0,0);
  }
  .color-lightgrey {
    color: rgb(219,219,219);
  }
  .background-lightgrey {
    background: rgb(219,219,219);
  }

//   SECTION HEIGHT AND WIDTH SETTINGS

  .width50 {
      width: 50%;
  }
  .width33 {
      width: 33.3%;
  }
  .width66 {
      width: 66.6%;
  }
  .vh15 {
      height: 15vh;
  }
  
  .vh55 {
      height: 55vh;
  }
  .vh45 {
      height: 45vh;
  }
  .vh50 {
      height: 50vh;
  }
  .vh100 {
      height: 100vh;
  }
// HEADER STYLING
  .background-logo-header {
      background-image: url('../images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
  }
  .header-year {
      padding-top: 50px;
  }
  .header-title {
      margin-left: 25%;
  }

// NAV STYLING
  
  .nav-item {
      width: 33.3%;
    //   height: 50vh;
  }

  .nav-item a {
      color: white;
      display: flex;
      width: 100%;
      height: 100%;
      transition: all .5s;
      padding: 20px 30px;
    }
    .nav-item a.background-yellow:hover {
        background-color: #dc9316; 
    }
    .nav-item a.background-teal:hover {
        background-color: #004e5f; 
    }
    .nav-item a.background-green:hover {
        background-color: #759929; 
    }
    .nav-item a.background-purple:hover {
        background-color: #3d115c; 
    }
    .nav-item a.background-pink:hover {
        background-color: #8f003d; 
    }
    .nav-item a.background-primary-dark:hover {
        background-color: #00a4e3; 
    }
  .nav-item-img img {
      width: 50%;
      max-width: 210px;
  }

  .nav-item h1 {
      font-weight: 400;
      font-size: 34px;
  }

//   NAV MOBILE
.navigation {
    display: none;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
//   padding: 50px;
  padding-top: 105px;
  background: rgba(0, 84, 128,1);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a {
    color: white;
}

#menu li
{
  padding: 15px 0 15px 10px;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

//   SECTION HEADLINES
  #letter {
    //   margin-top: 15px;
  }
  .section-headline img {
      max-width: 150px;
      position: absolute;
      left: -150px;
  }
  .section-headline h1 {
    font-weight: 400;
  }

  .with-menorah {
      background-image: url('../images/icons/menora_0003_Background.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
  }

//   LETTER FROM BRUCE AND ADAM

  .letter-container {
      height: 100%;
      padding: 45px 0;
  }
  .signature {
      max-width: 120px;
  }
  .bruce-and-adam {
      align-items: space-between;
  }

// 2017 HIGHLIGHTS

  
  p.highlights-padding {
      padding: 25px 10px 80px 0px;
  }
  .highlights-container {
      padding: 25px 0;
  }
  .highlights-container .width50 {
      padding: 0 30px;
  }
  .highlights-container .border-right {
    //   border-right: 1px solid black;
  }

  .fundraising-table-cell {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 1px solid black;
      margin: 0 7px;
  }

  .jewish-future-portrait {
      height: 50%;
      position: relative;
      margin-bottom: 20px;
  }
  .jewish-future-portrait img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
  }

  .circular-portrait {
      display: block;
      margin: 25px auto;
      max-width: 100%;
  }

  .community-building {
      margin: 40px 0;
  }

  .integrated-fundraising {
      width: 100%;
      display: block;
      margin: 40px auto 20px;
  }

  .our-approach-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
          margin: 5px 0;
      }
      h3 {
          margin: 10px 0;
      }
  }
//   .number-one-background {
//     background-image: url('../images/number1.png');
//     background-size: 250px;
//     background-repeat: no-repeat;
//     background-position-y: 175px;
//     background-position-x: 150px;
// }

// SIX PRIORITIES
//   .number-two-background {
//       background-image: url('../images/number2.png');
//       background-size: 250px;
//       background-repeat: no-repeat;
//       background-position-y: 75px;
//   }
  .six-priorities-header {
      height: 15vh;
  }
  .six-priorites-h1 {
      display: flex;
      align-items: center;
      height: 70px;
      border-top: 1px solid #afafaf;

  }
  .six-priorities-container {
      display: flex;
      height: 100%;
  }
  .six-priorities-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
  }
  .six-priorities-sidebar-image {
      max-height: 400px;
  }
  .six-priorities-gallery {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 30px;
  }
  .six-priorities-cell {
      width: calc(33.3% - 10px);
      margin: 0 5px;
      padding: 10px 15px;

      h3 {
          font-size: 26px;
          font-weight: 400;
      }
      img {
          display: block;
          margin: 0 auto 10px;
      }
  }

//   HOW WE MAKE IT HAPPEN
  .poverty-cell-small {
      width: 50%;
  }
  .poverty-cell-small p {
      margin: 0 0 10px 0;
  }
  .float {
    float: left;
}
.education-absolute {
    left: -150px;
}
.relief-absolute {
    bottom: -430px;
    right: -120px;
}
.israel-absolute {
    left: -150px;
    bottom: -550px;
}
.advocacy-absolute {
    top: 100px;
    right: -150px;
}
.identity-absolute {
    left: -150px;
    top: 200px;
}
.community-absolute {
    right: -150px;
    top: 150px;
}
// UJA FEDERATIONS ALLOCATIONS

    .allocations-padding {
        padding: 10px 35px;
    }
    .allocations-center {
        justify-content: center;
    }

    // DEPARTMENTS AND AGENCIES

    .community-list-container {
        flex-wrap: wrap;
    }
    .width25 {
        width: calc(25% - 20px);
        margin: 0 10px;
    }
    .width25.community-list {
        p {
            margin: 3px 0;
        }
    }
    .community-list-title {
        padding: 10px 0;
    }
    .community-list-title-top {
        padding-bottom: 10px;
    }

    footer {
        margin-bottom: 30px;
    }
    .back-to-top {
        position: fixed;
        bottom: 20px;
        padding: 10px;
        display: none;
    }
// MEDIA QUERIES
  @media all and (max-width: 1599px) {
      .nav-item h1 {
        //   font-size: 45px;
      }
      .section-headline img {
          position: static;
      }
      .number-one-background, .number-two-background {
          background: none;
      }
      .education-absolute {
          left: 350px;
          top: -40px;
      }
      .relief-absolute {
          top: -35px;
          right: 0;
      }
      .israel-absolute {
          top: -70px;
          left: 400px;
      }
      .advocacy-absolute {
          top: -50px;
          right: 100px;
      }
      .identity-absolute {
          top: -40px;
          left: 350px;
      }
      .community-absolute {
          top: -50px;
          left: 350px;
      }
  }
  @media all and (max-width: 1175px) {

    // TYPOGRAPHY

      h1 {
          font-size: 36px;
      }
      .wrapper-inner {
          padding: 0 50px;
      }
      .background-logo-header {
          background-size: 35%;
      }
      .header-container {
          padding-left: 30px;
      }
      .header-title {
          margin-left: 0;
      }

      .header-h2 {
          font-size: 26px;
      }

      //    LETTER FROM BRUCE
    .letter-container {
        padding-top: 25px;
        margin: 0 auto;
    }

    // SIX PRIORITIES
    .six-priorities-sidebar {
        display: none;
    }
    .education-absolute, .relief-absolute, .community-absolute, .israel-absolute, .advocacy-absolute, .identity-absolute {
        display: none;
    }
  }

  @media all and (max-width: 950px) {
    // LETTER FROM BRUCE  
    .letter-container {
          width: 95%;
          padding-top: 100px;
      }

    //   2017 HIGHLIGHTS
      .highlights-container .border-right {
          padding: none;
      }
      p.highlights-padding {
          padding: 15px 10px 15px 0;
      }
      .jewish-future-portrait {
          height: auto;
          text-align: center;
          padding: 10px 0;
          img {
              position: static;
              transform: none;
              
              
          }
      }

      .six-priorities-cell img {
        max-width: 120px;
        //   width: 100%;
      }
      .poverty-cell-small p {
          font-size: 14px;
      }



}


  @media all and (max-width: 800px) {
      .vh100 {
          height: auto;
      }
      .vh15 {
          height: auto;
      }
      .with-menorah {
          background: none;
      }
      .background-logo-header {
          background-position: top right;
      }
      .header-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 30px;
      }
      .header-year h1 {
          font-size: 90px;
          padding-top: 40px;
      }
      .header-title h1 {
          font-size: 40px;
      }
      .header-h2 {
          font-size: 22px;
      }
  
   //   NAV
        .nav {
            flex-direction: column;
        }
        .nav-item {
            width: 100%;
            height: 16.6vh;
            padding: 0;
        }
        .nav-item a {
            display: flex;

        }
        .nav-item-img {
            display: inline-block;
            margin: auto 0;
        }
        .nav-item-img img {
            width: 120px;
            // padding-left: 15px;
        }
        .nav-item-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            h1 {
                padding: 0 2px;
                text-align: center;
            }        
        }

        // LETTER FROM BRUCE

        .letter-container {
            padding-top: 50px;
        }

        .highlights-container {
            flex-direction: column;

        }

        .highlights-container .width50 {
            width: 100%;
            margin: 0 auto;
        }
        .highlights-container .border-right {
            border: none;
        }
        .jewish-future-portrait {
            margin: 20px 0;
            padding: 0;
        }

        // SIX PRIORITIES

        .six-priorities-cell {
            width: calc(50% - 10px);
        }
        .poverty-cell-small p {
            font-size: 16px;
        }

        // ALLOCATIONS
        .width33, .width66 {
            width: 100%;
        }
        .allocations-center .flex {
            flex-direction: column;
        }

        .width25 {
            width: calc(50% - 20px);
        }
    }
  @media all and (max-width: 550px) {
      .back-to-top {
          display: block;
      }
      .nav {
          display: none;
      }
      .navigation {
          z-index: 50;
          display: block;
          position: fixed;
          top: 20px;
          width: 100%;
      }
      p {
          font-size: 16px;
      }
      section {
        //   margin: 15px 0px;
      }
      .vh45 {
          height: 300px;
      }
      .vh55 {
          height: auto;
      }
      .vh100 {
          height: auto;
      }
      .wrapper-inner {
          padding: 0 10px;
      }
      .background-logo-header {
          background-image: none;
      }
      .header-h2 {
          font-size: 18px;
          padding: 15px 0;
      }     

      .section-headline img {
          max-width: 100px;
      }
      .letter-container {
          width: 100%;
          padding-top: 10px;
      }

    //   SIX PRIORITIES

      .six-priorities-cell {
          width: 100%;
          display: flex;
          padding: 0;
          margin: 7px 0;
      }
      .six-priorities-cell-text {
          padding-left: 15px;
      }
      .poverty-cell-small {
          width: 100%;
      }
      
    //   AGENCIES AND DEPARTMENTS

    .width25 {
        width: 100%;
    }
  }

  @media all and (max-width: 400px) {
      h1 {
          font-size: 28px;
      }
      .header-year h1 {
          font-size: 70px;
      }
      .header-h2 {
          font-size: 16px;
      }
      .letter-container p {
          font-size: 14px;
      }
  }