button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}

    // FLEX SETTINGS

    .flex {
        display: flex;
    }
    .flex-column {
        flex-direction: column;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

       // TYPOGRAPHY SETTINGS
    body {
        font-family: 'Lato', sans-serif;    
    }
    h1, h2, h3, h4, h5, h6 {margin: 0;}
    
    h1 {
        font-size: 45px;
        margin: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
    }

    .header-h2 {
        line-height: 1.5;
    }
    .header-title h1 {
        font-size: 58px;
    }
    .header-year h1 {
        font-size: 150px;
        font-weight: 900;
    }

       // WRAPPER
    .wrapper-outer {
        max-width: 1600px;
        margin: 0 auto;
    }

    .wrapper-inner {
        max-width: 1175px;
        margin: 0 auto;
    }

    // BASIC STYLE RESETS AND HELPERS

    .absolute {position: absolute;}
    .relative {position: relative;}

    a {
        text-decoration: none;
    }

/*COLOUR SETTINGS FOR BRANDING*/
.color-primary-dark {
    color: rgb(0, 84, 128);
  }
  .background-primary-dark {
    background: rgb(0, 84, 128);
  }
  .color-primary-light {
    color: rgb(0, 164, 228);
  }
  .background-primary-light {
    background: rgb(0, 164, 228);
  }
  .color-navy {
    color: rgb(15,55,95);
  }
  .background-navy {
    background: rgb(15,55,95);
  }
  .color-teal {
    color: rgb(0,100,130);
  }
  .background-teal {
    background-color: rgb(0,100,130);
  }
  .color-green {
    color: rgb(188,219,49);
  }
  .background-green {
    background: rgb(188,219,49);
  }
  .color-darkGreen {
    color: rgb(140, 165, 45);
  }
  .background-darkGreen {
    background: rgb(140,165, 45);
  }
  .color-yellow {
    color: rgb(246, 190, 10);
  }
  .background-yellow {
    background: rgb(246, 190, 10);
  }
  .color-purple {
    color: rgb(95,15,140);
  }
  .background-purple {
    background: rgb(95,15,140);
  }
  .color-lightblue {
    color: rgb(0,165,230);
  }
  .background-lightblue {
    background: rgb(0,165,230);
  }
  .color-pink {
    color: rgb(215,0,90);
  }
  .background-pink {
    background: rgb(215,0,90);
  }
  .color-orange {
    color: rgb(230,60,55);
  }
  .background-orange {
    background: rgb(230,60,55);
  }
  .color-white {
    color: rgb(255,255,255);
  }
  .background-white {
    background: rgb(255,255,255);
  }
  .color-black {
    color: rgb(0,0,0);
  }
  .background-black {
    background: rgb(0,0,0);
  }
  .color-lightgrey {
    color: rgb(219,219,219);
  }
  .background-lightgrey {
    background: rgb(219,219,219);
  }

//   SECTION HEIGHT AND WIDTH SETTINGS

  .width50 {
      width: 50%;
  }

  .vh15 {
      height: 15vh;
  }
  
  .vh55 {
      height: 55vh;
  }
  .vh45 {
      height: 45vh;
  }
  .vh50 {
      height: 50vh;
  }
  .vh100 {
      height: 100vh;
  }
// HEADER STYLING
  .background-logo-header {
      background-image: url('../images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
  }
  .header-year {
      padding-top: 50px;
  }
  .header-title {
      margin-left: 25%;
  }

// NAV STYLING

  .nav-item {
      width: 33.3%;
      height: 50vh;
      padding: 20px 30px;
  }

  .nav-item a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
    }

  .nav-item-img img {
      width: 50%;
      max-width: 210px;
  }

  .nav-item h1 {
      font-weight: 400;
  }

//   SECTION HEADLINES

  .section-headline img {
      max-width: 150px;
      left: -150px;
  }
  .section-headline .wrapper-inner  {
    
  }